.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
}
.pagination button {
  margin-right: 20px;
  margin-right: 14px;
}
.pagination span {
  margin-right: 14px;
  background-color: #4caf50;
  padding: 5px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
